VITE_SUPABASE_URL=https://wptbgevxqtjnmpqkerkl.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6IndwdGJnZXZ4cXRqbm1wcWtlcmtsIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU5NjIzMjcsImV4cCI6MjA5MTUzODMyN30.5j0XRTRkENp5PVyW0H9AgcelJzYV-nhyWo3KTpJE7T4
GEMINI_API_KEY=AIzaSyBxE1yROx27caMwicf29Dj8CTNxQU4FZ4A
